/target
*.class
pom.properties
Thumbs.db
.settings
.classpath*
/bin
*.java.hsp
*.sonarj
.DS_Store
.springBeans
.externalToolBuilders
.project
.idea/
/src/main/resources/dev/config.properties
/src/main/resources/dev/log4j.xml
/src/main/java/rebel.xml
*.iml