/target
pom.properties
Thumbs.db
.settings
.classpath*
/bin
*.java.hsp
*.sonarj
.DS_Store
.springBeans
.externalToolBuilders
.project
.idea/*
/src/main/resources/dev/config.properties
/src/main/resources/dev/log4j.xml
/src/main/java/rebel.xml
*.iml
rebel.xml
workspace.xml
./idea

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*-checkpoint.ipynb